/*Author    : Ibrahim El Gibran*/
/*Github    : https://github.com/ibrahimelgibran*/
/*Facebook  : https://facebook.com/ibrahimelgibran*/
/*Instagram : https://instagram.com/iegcode*/
/*Website   : https://ibrahimelgibran.com*/

@media (min-width: 300px) and (max-width: 640px) {
    .ml1 {
        margin-top: 45%;
    }

    .kontener2 {
        padding: 10px;
        text-align: center;
        margin-top: 60%;
    }
}